$main_font: Montserrat;
$font_gray1:#4F4F4F;
$font_gray2:#828282;
$font_black: #333;






.experience{
    &__number{
        display:flex;
        padding: 20px 0px;

        .experience__imgcontainer{
            width:84px;

            img{
                width:84px;
                height: 84px;
            }
        }

        .text__container{

            padding-left: 15px;

            .dates{
                font-size: 1.4rem;
                color:$font_gray2;
                font-weight: 500;
                padding-bottom: 10px;
                
            }

            .jobtitle{
                color: $font_black;
                font-size: 1.6rem;
                font-weight: 600;
                padding-bottom: 5px;
            }
        }
    }
}