footer{

    padding: 15px;
    p{
        color: #828282;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;

        span{
            font-weight: 700;
            text-decoration-line: underline;
        }
    }
}