.hobbies{

    .hobbiestitle{
        color: #333;
        font-size: 1.8rem;
        font-weight: 600;
        padding-top:15px;
    }

    .hobbies__imgcontainer{
        padding-top: 15px;
    }

}