$main_font: Montserrat;
$font_gray1:#4F4F4F;
$font_gray2:#828282;
$font_black: #333;


// Contenedor de la imagen



.first_column{
    
    .section__container{

        .intro__imgcontainer{
            width: 100%;
            padding-bottom: 10px;
    
        }

        .intro__textcontainer{
            padding-bottom: 10px;


            .name{
                color:$font_gray1;
                font-size: 2.4rem;
                font-weight: 600;
                padding-bottom: 7px;
            }

            .title{
                font-size: 1.8rem;
                font-weight: 600;
                color: $font_gray2;
                padding-bottom: 32px;
            }

            .icontext{
                padding-bottom: 10px;
            }

            span{
                font-weight: 500;
                font-size: 1.8rem;
                
            }

            i{
                padding-right: 5px;
            }
        }

    }
}